* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  border: none;
}
html,
body {
  font-size: 16px;
  height: 100%;
  background-color: #1a2a32;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* shared utility classes */
.border {
  border: 1px solid rgba(211, 211, 211, 0.7) !important;
}
.hidden {
  display: none !important;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.turquoise {
  color: #3cc4bf;
}
.yellow {
  color: #f2b147;
}

/* thats the end of it. */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-grid {
  display: flex;
  display: grid;
  grid-template: 50px repeat(3, 80px) 60px / repeat(3, 80px);
  gap: 5px 5px;
}

.player-turn {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  align-self: center;
}
@keyframes turn-text-animation {
  0% {
    opacity: 0%;
    transform: translatex(-20px);
  }
  100% {
    opacity: 100%;
    transform: translatex(0);
  }
}
.player-turn p {
  font-size: 14px;
  animation: 0.6s ease-in-out turn-text-animation;
}
@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.player-turn i {
  font-size: 1.8rem;
  animation: 0.6s ease-in-out turn-icon-animation;
}
.fa-o,
.fa-x {
  animation: 0.3s ease-in-out turn-icon-animation;
}
.player-turn .fa-o,
.player-turn .fa-x {
  font-size: 1.8rem;
  margin-right: 15px;
  animation: 0.6s ease-in-out turn-icon-animation;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.items {
  background-color: #203139;
  color: white;
  width: 80px;
  border-radius: 0px;

  height: 85px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0%;
  top: 120%;
  z-index: 3;
}
.items button {
  cursor: pointer;
  background-color: transparent;
}
.items button:hover,
.items button:active {
  text-decoration: underline;
}
button {
  background-color: rgba(211, 211, 211, 0.07);
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
button:hover,
button:active {
  cursor: pointer;
}
.game-box {
  background-color: #2e4756;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 3rem;
}
.game-box:hover,
.game-box:active {
  opacity: 90%;
  cursor: pointer;
}
.score {
  border-radius: 10px;
  display: flex;
  font-weight: 700;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  font-weight: 400;
  font-size: 0.6rem;
  padding-top: 5px;
}

footer {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.winner-sc {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.67);
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 160px;
  justify-content: center;
  align-items: center;
  background-color: #2e4756;
  color: white;
  z-index: 10;
}
.winner button {
  border-radius: 5px;
  color: black;
  width: 95px;
  margin-top: 20px;
  height: 40px;
  background-color: #2cc4bf;
}
.winner button:hover {
  cursor: pointer;
  opacity: 90%;
}
@media (min-width: 768px) {
  .main-grid {
    grid-template: 50px repeat(3, 160px) 60px / repeat(3, 160px);
    gap: 20px 20px;
  }
  .items {
    width: 160px;
  }
}
